<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>High Speed Rail Ticketing</title>
  </head>

  <body>
    <img width="800px" th:src="@{/images/map.gif}"/>
<!-- Add th:field -->
    <form method="GET" th:action="@{/options}">
      <label for="outbound">Outbound Trains:</label>
      <select id="outbound" name="outbound">
        <option th:each="station : ${stations}" th:text="${station.getName + ', ' + station.getState}" th:value="${station.getId}">STATION</option>
      </select>

      <br>

      <label for="inbound">Inbound Trains:</label>
      <select id="inbound" name="inbound">
        <option th:each="station : ${stations}" th:text="${station.getName + ', ' + station.getState}" th:value="${station.getId}">STATION</option>
      </select>

      <br>

      <label for="departure-date">Departure Date:</label>
      <input type="date" id="departure-date" name="departure-date">

      <br>

      <input type="submit" value="Submit">
    </form>
  </body>
</html>