/* Global Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

h1 {
  color: #007bff;
}

a {
  color: #007bff;
  text-decoration: none;
  margin-right: 20px;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: 0;
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
}

/* Home Page Styles */
#home-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* About Page Styles */
#about-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Map Page Styles */
#map-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Add extra space at the bottom of the page */
  margin-bottom: 100px;
}

/* Adjust date input style */
#departure-date {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* Fix for overflowing issue */
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
}

/* Options Page Styles */
#options-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Purchase Page Styles */
#purchase-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.validationError {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
}

form {
  margin-top: 20px;
}

label {
  font-weight: bold;
}

select,
input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Error Page Styles */
#error-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#error-content h1 {
  color: #dc3545;
  margin-bottom: 20px;
}

#error-content a {
  color: #007bff;
  text-decoration: none;
}

#error-content a:hover {
  text-decoration: underline;
}